@charset "utf-8";
/* CSS Document */

*{padding:0px; margin:0px;}
	#body_0{width:1366px;; background-image:url(../picture/tianmao/TB1yXCbHXXXXXbQXpXXLiR_LXXX-1600-495.png);
	 background-position:-118px 0px;}
	 #body_1 li{ list-style:none;}
	 #body_1{width:1200px; height:400px; margin:0px auto;}
	 #body_2{width:1000px; height:26px; padding:40px 0px 8px 6px;}
	 #body_2 h4{ float:left; padding-left:8px;}
	 #back,#go{ float:right; padding-right:6px; cursor:pointer;}
	 
	 #body_3{width:1210px; height:320px; text-align:center; clear:both;}
	 
	 #body_4{width:800px; height:324px; margin:0px auto; float:left; overflow:hidden;}
	 #body_5{width:210px; height:320px; margin:0px auto; float:left;}
	 #body_5 ul{width:818px; float:left; position:absolute; display:none; transform: translateY(0%) translateX(25%);}
	 #body_5 ul li{width:266px; padding-left:4px; float:left;}
	 #body_5 ul span{ position:absolute; transform:translateY(-760%) translateX(208%);}
	 #body_6{width:210px; height:320px; float:left;}
	 #body_6 span{ float:right; padding-top:140px;}
	 #body_7{width:190px; height:320px; margin:0px auto; float:right;}
	 #body_4 li{width:130px; height:80px; margin:1px; float:left; background-color:#FFF;}
	 #body_4 img{ padding-top:18px;}